/*Header section -- start*/
.header {
  background-image: url("images/banner/banner2.png");
  background-repeat: no-repeat;
  height: 810px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-content {
  text-align: right;
  width: 30%;
  margin-right: 230px;
}

.header-content h1 {
  font-size: 65px;
  font-weight: bold;
}

.header-content p {
  font-size: 16px;
  color: gray;
}

.btn-header {
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #f15b22;
  color: white;
  border-color: transparent;
  font-size: 20px;
  font-weight: 500;
}

/*Header section -- start*/

/* Second section -- start*/
.second {
  width: 70%;
  margin: 130px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-content {
  width: 400px;
}

h3 {
  font-size: 40px;
  font-weight: bold;
}

.second p {
  color: gray;
}

.check {
  margin-right: 3px;
  color: seagreen;
}
/* Second section -- end*/

/* Third section -- start*/
.third {
  width: 70%;
  margin: 130px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.third-body {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.third-title {
  margin-bottom: 50px;
}

h5 {
  font-size: 30px;
  font-weight: bold;
}

.plans img {
  width: 93px;
}

.plans p {
  color: gray;
  font-size: 25px;
}
/* Third section -- end*/

/* fourth section -- start*/
.fourth {
  width: 70%;
  margin: 0 auto;
}

.fourth-body {
  background-image: linear-gradient(
      to right,
      rgba(241, 91, 34, 1),
      rgba(255, 0, 0, 0)
    ),
    url("images/watch.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 60px;
}

.fourth-body h3 {
  color: white;
  width: 50%;
  padding-top: 40px;
  margin-bottom: 20px;
}

.btn-call {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  color: #f15b22;
  border-color: transparent;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}
/* fourth section -- end*/
